<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="alert(message)" id="message"
     class="col-12 mt-2 mb-2 alert alert-success alert-dismissible"
     th:classappend="${message} ? show : hidden" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <hr>
    <p th:text="${message}" id="message-text"></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


</html>