<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="pages(searchForm)" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li th:if="${searchForm.maxPages>1}" class="page-item"
            th:each="page : ${#numbers.sequence( 0, searchForm.maxPages-1)}">
            <a class="page-link"
               th:href="${searchForm.makeUrl(page)}"
               th:text="${page+1}"
            ></a>
        </li>
    </ul>
    <div class="mt-2 ml-2 text-center" th:if="${searchForm.size > 0}"
         th:text="'Count of results : '+${searchForm.size}"></div>
</nav>

</html>