<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- search translations -->
<form th:fragment="searchForm(searchForm)" method="get" action="/translation"
      th:object="${searchForm}">
    <div class="form-group row justify-content-center mt-4">
        <div class="form-group col-sm-6">
            <select class="form-control form-control-sm on-change-action" th:field="*{script}">
                <option value="%" selected>All scripts</option>
                <option th:value="${script.title}"
                        th:each="script: ${scriptList}"
                        th:text="${script.title}"></option>
            </select>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="form-group form-inline col-4">
                    <label for="new" class="col-form-label-sm">New</label>
                    <input th:field="*{evaluations}" type="checkbox"
                           class="form-control form-control-sm ml-2 on-change-action" id="new"
                           name="evaluations" value="0">
                </div>
                <div class="form-group form-inline col-4">
                    <label for="learning" class="col-form-label-sm">Learning</label>
                    <input th:field="*{evaluations}" type="checkbox"
                           class="form-control form-control-sm ml-2 on-change-action" id="learning"
                           name="evaluations" value="1"/>
                </div>
                <div class="form-group form-inline col-4">
                    <label for="known" class="col-form-label-sm">Known</label>
                    <input th:field="*{evaluations}" type="checkbox"
                           class="form-control form-control-sm ml-2 on-change-action" id="known"
                           name="evaluations" value="2"/>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <input type="hidden" th:field="*{review}" name="review" id="review"/>
            <input type="button" onclick="onReview()" class="btn btn-sm btn-success"
                   th:value="'Review'"/>
        </div>
    </div>
</form>

<!-- search scripts -->
<form th:fragment="searchScriptForm(searchForm)" method="get" action="/scripts"
      th:object="${searchForm}">
    <div class="row justify-content-center">

        <div class="form-group col-6">
            <label for="text" class="col-form-label-sm">Keywords</label>
            <input class="form-control form-control-sm on-change-action" th:field="*{text}"
                   id="text"/>
        </div>
        <div class="col-6 row mt-2">
            <div class="form-group m-2">
                <!--<label for="publ" class="col-form-label-sm">Public</label>-->
                <i data-feather="users" title="Public"></i>
                <input type="checkbox" class="form-control form-control-sm on-change-action"
                       th:field="*{publ}" id="publ"/>
            </div>
            <div class="form-group m-2">
                <!--<label for="read" class="col-form-label-sm">Read</label>-->
                <i data-feather="book-open" title="Read"></i>
                <input type="checkbox" class="form-control form-control-sm on-change-action"
                       th:field="*{read}" id="read"/>
            </div>
            <div class="form-group m-2">
                <!--<label for="priv" class="col-form-label-sm">Private</label>-->
                <i data-feather="user" title="Private"></i>
                <input type="checkbox" class="form-control form-control-sm on-change-action"
                       th:field="*{priv}" id="priv"/>
            </div>
        </div>
        <!--/* TODO: maybe let user to set flag if he wants to show additional search criteries */-->
        <div class="form-group col-3 hidden">
            <label for="rows" class="col-form-label-sm">Rows</label>
            <input type="number" class="form-control form-control-sm on-change-action"
                   th:field="*{rows}" id="rows"/>
        </div>
        <div class="form-group col-5 hidden">
            <label for="sortBy" class="col-form-label-sm">Sort</label>
            <select class="form-control form-control-sm on-change-action" th:field="*{sortBy}"
                    id="sortBy">
                <option value="id" selected>Created</option>
                <option value="title">Title</option>
            </select>
        </div>
        <div class="form-group col-4 hidden">
            <label for="desc" class="col-form-label-sm">Order</label>
            <select class="form-control form-control-sm on-change-action" th:field="*{desc}"
                    id="desc">
                <option value="false" selected>Asc</option>
                <option value="true">Desc</option>
            </select>
        </div>

    </div>
</form>

</html>