<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="statistic(title, n,l,k,i,s)">
    <div class="row mt-4 ml-1 w-300">
        <div class="col-12">
            <h3 th:text="${title}"></h3>
        </div>

        <div class="col-6">
            <span>New words</span>
        </div>
        <div class="col-6 text-right">
            <span th:text="${n}"></span>
        </div>

        <div class="col-6">
            <span>Learning words</span>
        </div>
        <div class="col-6 text-right">
            <span th:text="${l}"></span>
        </div>

        <div class="col-6">
            <span>Knowns words</span>
        </div>
        <div class="col-6 text-right">
            <span th:text="${k}"></span>
        </div>

        <div class="col-6">
            <span>Imported scripts</span>
        </div>
        <div class="col-6 text-right">
            <span th:text="${i}"></span>
        </div>

        <div class="col-6">
            <span>Read scripts</span>
        </div>
        <div class="col-6 text-right">
            <span th:text="${s}"></span>
        </div>
    </div>
</div>

</html>