/* intro page (login page) */
.intro {
    background: url('/img/bg-min.png') no-repeat center;
}

/* main menu */
.menu-info {
    width: 150px;
}

/* scripts page */
.scripts {

}

.w-300 {
    width: 300px;
}

.list table {
    width: 600px;
}

.list td {
    width: 200px;
}

.checked {
    background-color: lightblue;
}

.default {
    background-color: white;
}

.remove {
    background-color: darkred;
}

.status {
    width: 200px;
}

input {
    width: 100%;
}

.origin {

}

.separator {
    margin-top: 50px;
}

/* marked content */
.marked-text {
    margin: auto;
    width: 80%;
    text-align: justify;
}

.eval {
    border-radius: 25px;
    padding-left: 8px;
    padding-right: 8px;
}

.eval-new {
    background-color: #87CEFA;
}

.eval-learning {
    background-color: #E3F6FF;
}

.eval-actual {
    border: 2px solid #1993fa;
}

.text-force-right-bottom {
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.text-force-left-bottom {
    position: absolute;
    left: 8px;
    bottom: 8px;
}

.mt-20p {
    margin-top: 20%;
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.video {
    min-height: 500px;
}

@media only screen and (max-device-width: 640px) {
    .video {
        min-height: 250px;
    }
}

@media only screen and (max-device-width: 768px) {
    .video {
        min-height: 350px;
    }
}

/* selectors */

.hidden {
    display: none;
}

/* login */

.login_form {
    border-radius: 2px;
    min-height: 330px;
    margin: 0 auto;
}
