<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="index.html :: head"/>

<body>

<th:block th:replace="index.html :: menu(' Bookmark')"/>
<div class="container-fluid">

    <div class="col-12 mt-2 mb-2" th:if="${message}" th:text="${message}"></div>

    <form class="mt-4" enctype="multipart/form-data" method="POST" th:action="${importUrl}"
          th:object="${importForm}">
        <div class="form-group row">
            <div class="col-12">
                <input class="form-control" id="title" name="title"
                       placeholder="Title of script" th:field="*{title}" type="text"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <select class="form-control" id="level" name="level" th:field="*{level}">
                    <option th:each="level: ${levels}" th:text="${level.name}"
                            th:value="${level.id}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <input class="form-control" id="embedUrl" name="embedUrl"
                       placeholder="The Youtube URL address" th:field="*{embedUrl}" type="text"/>
            </div>
        </div>
        <!--<div class="form-group row">-->
        <!--<div class="col-12">-->
        <!--<input type="file" class="form-control" th:field="*{file}" name="file" id="file"/>-->
        <!--</div>-->
        <!--</div>-->
        <div class="form-group row">
            <div class="col-12">
                <img th:alt="*{title}" th:src="*{imageUrl}">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <textarea class="form-control" id="text" name="editordata"
                          th:field="*{editordata}"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <input class="btn btn-primary" type="submit" value="Import"/>
            </div>
        </div>

    </form>

    <th:block th:replace="index.html :: footer"/>
</div>

<script>
    $(document).ready(function () {
        $('#text').summernote({
            height: 400,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height', 'undo', 'redo']]
            ],
            placeholder: 'Write script here...',
            disableDragAndDrop: true
        });
    });
</script>
</body>
</html>