<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="index.html :: head"/>

<body>

<th:block th:replace="index.html :: menu(' Import')"/>
<div class="container-fluid">

    <div class="col-12 mt-2 mb-2" th:if="${message}" th:text="${message}"></div>

    <form class="mt-4" method="POST" enctype="multipart/form-data" th:action="${importUrl}"
          th:object="${importForm}">
        <div class="form-group row">
            <div class="col-12">
                <input type="text" class="form-control" placeholder="Title of script"
                       th:field="*{title}" name="title" id="title"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <select class="form-control" name="level" id="level" th:field="*{level}">
                    <option th:each="level: ${levels}" th:value="${level.id}"
                            th:text="${level.name}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <input type="text" class="form-control" placeholder="The Youtube URL address"
                       th:field="*{embedUrl}" name="embedUrl" id="embedUrl"/>
            </div>
        </div>
        <!--<div class="form-group row">-->
            <!--<div class="col-12">-->
                <!--<input type="file" class="form-control" th:field="*{file}" name="file" id="file"/>-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group row">
            <div class="col-12">
                <input type="file" class="form-control" th:field="*{image}" name="image"
                       id="image"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <textarea class="form-control" id="text" th:field="*{editordata}"
                          name="editordata"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <input type="submit" class="btn btn-primary" value="Import"/>
            </div>
        </div>

    </form>

    <th:block th:replace="index.html :: footer"/>
</div>

<script>
    $(document).ready(function () {
        $('#text').summernote({
            height: 400,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height', 'undo', 'redo']]
            ],
            placeholder: 'Write script here...',
            disableDragAndDrop: true
        });
    });
</script>
</body>
</html>