<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
    <title>eLango - vocabulary tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{/js/vendorIE9.js}"></script>
    <![endif]-->

</head>

<body>

<div th:fragment="menu(title)" class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark row p-4">
            <form id="logout-form" th:action="@{/logout}" method="post"></form>
            <a class="text-muted col-xl-1 col-lg-2 col-md-3 col-sm-3 col-4" href="/import"
               title="Import">
                <i data-feather="file-plus"></i>
                <small>import</small>
            </a>
            <a class="text-muted col-xl-1 col-lg-2 col-md-3 col-sm-3 col-4" href="/scripts"
               title="Scripts">
                <i data-feather="grid"></i>
                <small>scripts</small>
            </a>
            <a class="text-muted col-xl-1 col-lg-2 col-md-3 col-sm-3 col-4" href="/translation"
               title="Vocabulary">
                <i data-feather="list"></i>
                <small>vocab</small>
            </a>
            <a class="text-muted col-xl-1 col-lg-2 col-md-3 col-sm-3 col-4" href="/statistics"
               title="Statistics">
                <i data-feather="pie-chart"></i>
                <small>stats</small>
            </a>
            <a class="text-muted col-xl-1 col-lg-2 col-md-3 col-sm-3 col-4" href="/setting"
               title="Statistics">
                <i data-feather="settings"></i>
                <small>setting</small>
            </a>
            <a class="text-muted  col-xl-1 col-lg-2 col-md-3 col-sm-3 col-4" href="#"
               sec:authorize="isAuthenticated()"
               onclick="$('#logout-form').submit()" title="Log out">
                <i data-feather="log-out"></i>
                <small>log out</small>
            </a>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler text-sm-right btn-sm" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <!--<span class="navbar-toggler-icon"></span>-->
            <i data-feather="menu"></i>
            <small th:text="${title}"></small>
        </button>
        <div class="row text-left text-white" sec:authentication="username">
            <div class="col-6 small mt-2 text-right" th:if="${profile.isLogin()}"
                 th:text="${profile.username}"> <!-- + '[ '+${profile.points}+' ]'"-->
            </div>
            <div class="col-6 menu-info">
                <span th:replace="fragments/items.html :: activeCorpus(${profile})"></span>
            </div>
        </div>
    </nav>
</div>

</body>

<th:block th:fragment="footer">
    <div class="row mt-2">
        <div class="offset-5 col-8">
            <a class="btn btn-sm btn-link" target="_blank" href="https://morione.sk">Morione
                s.r.o.</a>
            <span class="small" th:text="' v.'+${appVersion}"></span>
        </div>
    </div>

    <script th:src="@{/js/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/js/vendor.js}" type="text/javascript"></script>
    <script th:src="@{/js/main.js}" type="text/javascript"></script>

</th:block>

</html>