<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="index.html :: head"/>

<body>
<th:block th:replace="index.html :: menu ('Review')"/>

<div class="container-fluid">

    <div th:replace="fragments/message.html :: alert(${message})"></div>

    <div th:replace="fragments/items.html :: hide"></div>

    <div th:fragment="translations(translations)" class="list">

        <div class="row" th:each="tran : ${translations}" th:id="'row_'+${tran.id}">
            <div class="col-12 mt-4">
                <div class="origin p-2 bg-light text-success text-center d-none"
                     th:text="${tran.origin}"/>
                <input th:id="'origin'+${tran.id}" type="hidden" th:value="${tran.origin}"/>
            </div>
            <div class="col-12" th:onclick="'showOrigin('+${tran.id}+');'">
                <div class="transl p-2 bg-light text-primary text-center"
                     th:text="${tran.transcript}"/>
                <input th:id="'transcript'+${tran.id}" type="hidden" th:value="${tran.transcript}"/>
            </div>
            <div class="col-12">
                <div class="origin p-2 text-center" th:text="${tran.note}"/>
                <input th:id="'note'+${tran.id}" type="hidden" th:value="${tran.note}"/>
            </div>
            <div class="col-12 text-center">
                <div th:replace="fragments/items.html :: evaluation (${tran})"></div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-6 text-left">
            <a class="btn btn-sm" title="Back to script"
               th:href="'/scripts/'+${searchForm.scriptId}">
                <i data-feather="corner-down-left"></i>
            </a>
        </div>
        <div class="col-6 text-right">
            <a href="#" class="btn btn-sm" onclick="window.location.reload(true);"
               title="repeat review">
                <i data-feather="repeat"></i>
            </a>
        </div>
    </div>

    <th:block th:replace="index.html :: footer"/>

</div>

</body>


</html>