<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="index.html :: head"/>

<body>

<th:block th:replace="index.html :: menu(' Script')"/>

<div class="container-fluid">

    <div class="row mt-4">

        <div th:replace="fragments/message.html :: alert(${message})"></div>

        <div class="col-12">
            <div class="form-group">
                <h2 th:text="${script.title}"></h2>
                <h5 th:if="${script.level}"
                    th:text="' Level: ' + ${script.level.name} + ' [ ' + ${script.getCountNewTranslations()} + ' / '+ ${script.getAllCountTranslations()} +' ]'"></h5>
            </div>
        </div>

        <div class="col-12 video" th:if="!${#strings.isEmpty(script.embedUrl)}">
            <iframe width="100%" height="100%" th:src="${script.embedUrl}" frameborder="0"
                    allow="encrypted-media" allowfullscreen></iframe>
        </div>

        <input th:if="${#strings.isEmpty(script.embedUrl)}" type="hidden" name="isVideo"
               value="false">
        <input th:unless="${#strings.isEmpty(script.embedUrl)}" type="hidden" name="isVideo"
               value="true">

        <div class="col-12 mt-4 text-left" id="marked-text"
             th:utext="${script.getMarkedContent(corpusTranslations)}"></div>

        <div class="col-12 mt-4">
            <th:block th:if="!${#strings.isEmpty(script.embedUrl)}">
                <button class="btn btn-sm btn-secondary" id="prev"><i
                        data-feather="chevron-left"></i></button>
                <button class="btn btn-sm btn-secondary" id="next"><i
                        data-feather="chevron-right"></i></button>
                <button class="btn btn-sm" id="counter"></button>
            </th:block>
            <button class="btn btn-sm btn-outline-secondary toogle-new-translation"
                    data-column="new-translation" title="Create new translation">
                <i data-feather="plus"></i>
            </button>
        </div>

        <div class="col-12 mt-4 new-translation hidden">
            <form method="POST" onsubmit="return false;" id="newForm">
                <div class="form-group row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <input type="text" id="newOrigin" placeholder="Origin"
                               class="form-control form-control-sm"
                               name="origin"/>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <input id="newTranscript" placeholder="Translation"
                               class="form-control form-control-sm" type="text"
                               name="transcript"/>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <input type="text" class="form-control form-control-sm" placeholder="Note"
                               name="note"
                               id="newNote"/>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <input type="hidden" id="newId" class="form-control form-control-sm"
                               name="newId"/>
                        <input type="button" class="btn btn-sm btn-primary" th:value="'Save'"
                               th:onclick="'saveNew('+${script.id}+');'"/>
                    </div>
                </div>
            </form>
        </div>

        <th:block th:replace="fragments/items.html :: showhide"></th:block>


        <div class="col-12 mt-4" th:if="${translations}">

            <th:block th:replace="translation.html :: translations(${translations})"></th:block>

            <div class="col-12 mt-4">
                <button th:attr="data-href='/scripts/'+${script.id}+'/translations/'"
                        class="btn btn-sm btn-secondary prevT"><i data-feather="chevron-left"></i>
                </button>
                <button th:attr="data-href='/scripts/'+${script.id}+'/translations/'"
                        class="btn btn-sm btn-secondary nextT"><i data-feather="chevron-right"></i>
                </button>
                <button class="btn btn-sm counterT"
                        th:text="'[ ' +${page}+ ' / '+${pageMax+1}+' ]'"></button>
                <input type="hidden" id="pageMax" th:value="${pageMax}"/>

                <a class="btn btn-sm" title="Back to script"
                   href="#" onclick="window.history.back();">
                    <i data-feather="corner-down-left"></i>
                </a>

                <a class="btn btn-sm"
                   title="Review translations"
                   th:href="'/translation?script='+${script.title}+'&evaluations=0&evaluations=1&review=true&page=1&scriptId='+${script.id}">
                    <i data-feather="list"></i>
                </a>
            </div>
        </div>

    </div>

    <th:block th:replace="index.html :: footer"/>

</div>

</body>

</html>