<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="index.html :: head"/>

<body>

<th:block th:replace="index.html :: menu(' Scripts')"/>

<div class="container-fluid">

    <div th:replace="fragments/message.html :: alert(${message})"></div>

    <th:block th:replace="fragments/search.html :: searchScriptForm(${searchForm})"> search
    </th:block>

    <div class="row justify-content-center">

        <div class="card col-lg-2 col-md-3 col-sm-6 m-1" style="width: 18rem;"
             th:each="script : ${scripts}">
            <a th:href="'/scripts/'+${script.id}" class="card-link" th:id="'origin'+${script.id}">
                <img class="card-img-top mt-4 rounded-top" height="200" th:src="${script.media}"
                     th:alt="${script.title}">
                <span class="flag-icon flag-icon-gr"></span>
                <div th:if="${script.processed}">
                    <span class="small"
                          th:text="'[ ' + ${script.getCountNewTranslations()} + ' / '+ ${script.getAllCountTranslations()} +' ]'"></span>
                    <span th:if="${script.level}" th:text="${script.level.getName()}"
                          class="text-right small"></span>
                </div>
                <div th:unless="${script.processed}" class="alert-danger small">processing ...</div>
            </a>
            <div class="card-body">
                <a th:href="'/scripts/'+${script.id}" class="card-link"
                   th:id="'origin'+${script.id}">
                    <h5 class="card-title text-center"
                        th:text="${#strings.abbreviate(script.title,25)}"></h5>
                </a>

                <p class="card-text"
                   th:text="${#strings.abbreviate(T(org.jsoup.Jsoup).parse(script.content).text(), 90)}"></p>

                <a th:if="${script.owner}" th:href="'/scripts/'+${script.id}+'/edit'"
                   class="card-link text-force-left-bottom"
                   title="Edit">
                    <i data-feather="edit"></i>
                </a>
                &nbsp;
                <a th:if="${script.owner}" th:href="'/scripts/delete/'+${script.id}"
                   class="card-link text-force-left-bottom"
                   title="Delete">
                    <i data-feather="x-circle"></i>
                </a>

                <a th:href="'/scripts/unread/'+${script.id}"
                   class="card-link text-force-right-bottom"
                   title="Unread">
                    <i data-feather="flag"></i>
                </a>
            </div>
        </div>
    </div>

    <div th:replace="fragments/pagination.html ::pages(${searchForm})"></div>

    <th:block th:replace="index.html :: footer"/>

</div>


</body>

</html>