<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="index.html :: head"/>

<body>

<th:block th:replace="index.html :: menu(' Script [edit]')"/>

<div class="container-fluid">

    <div class="row mt-4">

        <div id="message" th:replace="fragments/message.html :: alert(${message})"></div>

        <div class="col-12">
            <div class="form-group">
                <input class="form-control form-control-sm" type="text" placeholder="Title"
                       th:value="${script.title}"/>
            </div>
        </div>

        <div class="col-12 form-group">
            <select class="form-control form-control-sm" name="level" id="level">
                <option th:each="level: ${levels}"
                        th:value="${level}"
                        th:text="${level.name}"
                        th:selected="(${level}==${script.level})"></option>
            </select>
        </div>

        <div class="col-12 form-group">
            <input type="text" class="form-control form-control-sm"
                   placeholder="The Youtube URL address" th:value="${script.embedUrl}"
                   name="embedUrl" id="embedUrl"/>
        </div>

        <div class="col-12 form-group">
            <form method="POST" enctype="multipart/form-data">
                <input type="file" class="form-control form-control-sm" name="image" id="image"
                       th:onchange="'uploadImageToScript('+${script.id}+')'"/>
            </form>
        </div>

        <div class="col-12 mt-2">
            <img id="media" th:if="${script.media}" th:src="${script.media}" height="300">
        </div>

        <div class="col-12 mt-2">
            <textarea class="form-control form-control-sm" id="text" name="editordata"
                      th:utext="${script.content}"></textarea>
        </div>

        <div class="col-12 mt-2">
            <input type="button" class="btn btn-sm btn-primary" th:value="'Update'"
                   th:onclick="'saveScript('+${script.id}+');'"/>
        </div>

    </div>
</div>

<th:block th:replace="index.html :: footer"/>
<script>
    $(document).ready(function () {
        $('#text').summernote({
            height: 400,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height', 'undo', 'redo']]
            ],
            placeholder: 'Write script here...',
            disableDragAndDrop: true
        });
    });
</script>
</body>

</html>