<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="index.html :: head"/>

<body>
<th:block th:replace="index.html :: menu(' Stats')"/>

<div class="container-fluid">

    <div th:replace="fragments/message.html :: alert(${message})"></div>

    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
            <div th:replace="fragments/statistics.html :: statistic(title='Daily statistics',
                    n=${statistics.getDaily()[0]},
                    l=${statistics.getDaily()[1]},
                    k=${statistics.getDaily()[2]},
                    i=${statistics.getDaily()[3]},
                    s=${statistics.getDaily()[4]})">
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
            <div th:replace="fragments/statistics.html :: statistic(title='Week statistics',
                    n=${statistics.getWeekly()[0]},
                    l=${statistics.getWeekly()[1]},
                    k=${statistics.getWeekly()[2]},
                    i=${statistics.getWeekly()[3]},
                    s=${statistics.getWeekly()[4]})">
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
            <div th:replace="fragments/statistics.html :: statistic(title='All statistics',
                    n=${statistics.getAll()[0]},
                    l=${statistics.getAll()[1]},
                    k=${statistics.getAll()[2]},
                    i=${statistics.getAll()[3]},
                    s=${statistics.getAll()[4]})">
            </div>
        </div>

        <div class="col-xl-3 col-lg-12 col-md-6 col-12">
            <div class="row mt-4 ml-1 w-300">
                <div class="col-12">
                    <h3>Summary</h3>
                </div>
                <div class="col-6">
                    <span>Vocabulary size</span>
                </div>
                <div class="col-6 text-right">
                    <span th:text="${statistics.sizeActiveVocabulary}"></span>
                </div>
                <div class="col-6">
                    <span>Points</span>
                </div>
                <div class="col-6 text-right">
                    <strong th:text="${statistics.points}" class="text-success"></strong>
                </div>
            </div>
        </div>
    </div>

</div>

<th:block th:replace="index.html :: footer"/>

</body>


</html>