<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="index.html :: head"/>

<body>
<th:block th:replace="index.html :: menu(' Vocabs')"/>

<div class="container-fluid">

    <div th:replace="fragments/message.html :: alert(${message})"></div>

    <form th:replace="fragments/search.html :: searchForm(${searchForm})"></form>

    <div th:replace="fragments/items.html :: showhide"></div>

    <div th:fragment="translations(translations)" class="list">

        <div class="row" th:each="tran : ${translations}" th:id="'row_'+${tran.id}">
            <div class="col-6">
                <input class="origin form-control form-control-sm" th:id="'origin'+${tran.id}"
                       th:type="text" th:value="${tran.origin}"
                       th:onchange="'save('+ ${tran.id} +');'"/>
            </div>
            <div class="col-6">
                <input class="transl form-control form-control-sm" th:id="'transcript'+${tran.id}"
                       th:type="text" th:value="${tran.transcript}"
                       th:onchange="'save('+ ${tran.id} +');'"/>
            </div>
            <div class="col-6">
                <input class="origin form-control form-control-sm" th:id="'note'+${tran.id}"
                       th:type="text" th:value="${tran.note}"
                       th:onchange="'save('+ ${tran.id} +');'"/>
            </div>
            <div class="col-6">
                <div th:replace="fragments/items.html :: evaluation (${tran})"></div>
            </div>
        </div>

    </div>
    <div th:replace="fragments/pagination.html :: pages(${searchForm})"></div>
</div>
<th:block th:replace="index.html :: footer"/>

</body>


</html>