<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>

<th:block th:replace="index.html :: head"/>

<body>

<div class="container-fluid">

    <h1 class="text-center mt-4" th:if="${profile.isLogin()}"
        th:text="'Welcome '+${profile.username}"></h1>

    <div class="row m-2">
        <p class="text-justify mt-4">
            Thank you for your registration! <br/>
            ELango helps improve your foreign language vocabulary by your own way.
            You can choose a topic from huge amount of scripts or import your own script.
            Your default learning vocabulary is English so you can make translation from your native
            language to English. Elango allows to choose another learning vocabulary (spanish,
            german or
            italian). It is up to you to have one or several vocabularies. You can switch between
            all
            everytime.

            So let's go to <a href="/scripts">English scripts</a>
        </p>

</div>

<th:block th:replace="index.html :: footer"/>
</body>

</html>